<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CSPN</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/css/style.css">
  <!-- <link rel="stylesheet" href="./static/css/d3Style.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h2>English Premier League</h2>
        <p>Match Predictor</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" style="width: 100%;">
        <div class="panel panel-primary" style="width: 100%;">
          <div class="panel-heading">
            <h3 class="panel-title">Upcoming Match</h3>
          </div>
          <div id="sample-metadata" class="panel-body">
            <table style="width:100%" >
              {%for index in data%} 
              <tr>
                <th>{{ index.match }}</th>
                <th>{{ index.home }}</th>
                <th>{{ index.draw }}</th>
                <th>{{ index.away }}</th>
              </tr>
              {%endfor%}
            </table> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

</body>

</html>
